<!--
<ion-content>
  <div class='backgroundimage'>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>
      </ion-title>
    </ion-toolbar>
<img class='wave'  src="/assets/images/background.svg"/>


  </div>
<h2>My Courses</h2>



<ion-list *ngFor="let course of courses">

       <ion-item class="item" (click)="enter_cl(course.Classroom_ID)">
         <ion-avatar slot="start">
           <img [src]="course.Classroom_image">
         </ion-avatar>
         <ion-label>
           <h2 class="cl_name">{{course.Classroom_name}}</h2>
           <div class="cl_description">{{course.Classroom_description}}</div>
         </ion-label>
       </ion-item>

</ion-list>


</ion-content>
<ion-footer>
<div class="buttonfields">
<button (click)="all_cl()" class="button_dark" shape="round" >Find Courses</button>
</div>
</ion-footer>
    -->

<ion-content>
  <div id="account" routerLink="/account">
    <ion-icon id="account-icon" name="person"></ion-icon>
  </div>

  <div class="title">Your Courses</div>
  <div class="description">Select a course to get started</div>

  <div id="search" (click)="all_cl()">
    <ion-icon id="search-icon" name="search"></ion-icon
    ><span id="search-text">search for courses</span>
  </div>

  <!-- <swiper-container>
    <swiper-slide>Slide 1</swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
  </swiper-container> -->

  <div class="content"></div>
  <div class="wrapper">
    <div class="spinnerdiv">
      <ion-spinner id="spinner" *ngIf="!ready" name="bubbles"></ion-spinner>
    </div>
    <div class="course_wrapper" *ngFor="let course of courses; let i = index">
      <div class="course">
        <div><span class="course_name">{{course.Classroom_name}}</span></div>
        <div class="course_description">{{course.Classroom_description}}</div>

        <ion-button
          shape="round"
          color="white"
          class="entercourse"
          (click)="enter_cl(course.Classroom_ID)"
          >study</ion-button
        >
        <div><img class="course_img" [src]="course.Classroom_image" /></div>
      </div>
    </div>
  </div>
</ion-content>
