<ion-content>
  <div id="account" routerLink="/account">
    <ion-icon id="account-icon" name="person"></ion-icon>
  </div>

  <div class="title">Support</div>
  <div class="description">
    <div class="Contact">
      <p><strong>Impressum</strong></p>
      <p>
        Anbieter:<br />Robin Schastok<br />Agnes-Bernauer-Str. 167<br />80687
        München
      </p>
      <p>
        Kontakt:<br />Telefon: 015737837148<br /><a
          href="mailto:support@pieria-app.com"
          >{{'support@pieria-app.com'}}</a
        >
      </p>
      <p> </p>
    </div>

    <div class="email"></div>
  </div>
</ion-content>
