<ion-header>
  <ion-toolbar color="white">
    <ion-buttons slot="end">
      <div id="home" routerLink="/mycourses">
        <ion-icon id="home-icon" name="home"></ion-icon>
      </div>
    </ion-buttons>
    <ion-buttons slot="end">
      <div id="account" routerLink="/account">
        <ion-icon id="account-icon" name="person"></ion-icon>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinnerdiv">
    <ion-spinner
      id="spinner"
      *ngIf="!ready && available"
      name="bubbles"
    ></ion-spinner>
  </div>

  <swiper-container
    #swiperRef
    [slidesPerView]="1"
    [autoHeight]="true"
    style="height: 100%"
  >
    <swiper-slide *ngFor="let item of sectiondetails">
      <div
        class="slide"
        id="htmlslide"
        *ngIf="item.type === 'text'"
        [innerHTML]="item.content | safe: 'html'"
      ></div>
      <div class="slide" *ngIf="item.type === 'image'">
        <img [src]="'https://www.e-fluent.com'+item.path" />
      </div>
      <div class="slide" *ngIf="item.type === 'audio'">
        <audio
          controls
          [src]="'https://www.e-fluent.com'+item.path"
          type="audio/mp3"
        ></audio>
      </div>
      <div class="slide" *ngIf="item.type === 'video'">
        <h2 class="title">{{item.title}}</h2>
        <div class="description">{{item.description}}</div>
        <video
          controls
          [src]="'https://www.e-fluent.com'+item.path"
          type="video/mp4"
        ></video>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="premium_err" *ngIf="!available">
    This Section of the lesson is premium content. Please go to your account and
    upgrade to premium
  </div>
</ion-content>
<ion-footer>
  <div style="text-align: center" *ngIf="sectiondetails?.length">
    <ion-buttons>
      <ion-button
        *ngIf="swiperRef.swiper.isEnd"
        (click)="swiperRef.swiper.slidePrev()"
        class="navigation"
        id="nav-prev"
        ><ion-icon name="chevron-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-buttons>
      <ion-button
        *ngIf="swiperRef.swiper.isBeginning"
        (click)="swiperRef.swiper.slideNext()"
        class="navigation"
        id="nav-next"
        ><ion-icon name="chevron-forward-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </div>
</ion-footer>
