// * {
//   -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
//   -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
//   outline: none !important;
// }

// ion-toolbar {
//   --background: transparent !important;
//   position: absolute;
// }

// ion-menu-button {
//   --color: white;
//   margin-top: 20px;
// }

// ion-content {
//   //  --background: rgb(29,253,220);
//   //  --background: linear-gradient(to top, rgba(29,253,220,1) 28%, rgba(69,116,252,1) 100%);

//   //--background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,168,252,1) 100%);
// }

#account-icon {
  //transform: scale(2);
  font-size: 34px;
  // position: absolute;
  // z-index: 2;
  // top: 42px;
  // right: 35px;
  color: #1e1e1e;
}

#home-icon {
  //transform: scale(2);
  font-size: 34px;
  // position: absolute;
  // z-index: 2;
  // top: 42px;
  // right: 70px;
  color: #1e1e1e;
}

ion-toolbar {
  --background: transparent;
  --border-style: none;
  box-shadow: none;
}
// swiper-slide {
//   position: relative;

//   max-width: 100% !important;
//   padding-top: 15%;
//   //margin-top: 10%;
//   padding-bottom: 50vh;
//   padding-left: 5%;
//   padding-right: 5%;
//   overflow: scroll !important;
//   //overflow-y: scroll;
//   display: block;
//   max-height: fit-content !important;
//   //min-height: 200vh;
// }
// video {
//   border-radius: 35px;
//   box-shadow: 0px 2px 8px #4f4f4f;
//   width: 100% !important;
//   max-width: 600px;
// }

// .title {
//   text-align: left;
//   margin-bottom: 10%;
//   color: #008b8b;
//   font-family: "Montserrat-Black";
//   font-size: 32px;
// }

// .description {
//   margin-bottom: 25%;
//   text-align: left;
//   color: #1e1e1e;
//   font-family: "Montserrat-Regular";
// }

// .slide > video {
//   //position: absolute;
//   //left: 0px;
//   //top:30%;
// }
// .slide > img {
//   position: absolute;
//   left: 0px;
//   top: 0px;
// }

// .backgroundimage {
//   position: absolute;
// }

// .swiper-pagination-bullet {
//   offset: 1 !important;
// }

// .logo {
//   height: 50px;
//   width: auto;
// }

// .logoclass {
//   text-align: center;
// }

// .ion-padding {
//   position: fixed;
//   --padding-top: 0px;
// }

// .slide {
//   //margin-top: 20%;
// }

ion-header {
  background: white;
  box-shadow: none;
}
ion-footer {
  background: white;
  box-shadow: none;
}

#htmlslide {
  //padding: 5%;
  //background-color: #fe5f55; // for styling only
  color: #1e1e1e;
  font-family: "Montserrat-Regular";
  //font-family: Georgia, serif;
  //font-size: 24px;
  //font-size: 1.5em;
  letter-spacing: 0.2px;
  word-spacing: 0.4px;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  //padding-left: 5%;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

// img {
//   transform: translateY(-5%);
// }
// ion-toolbar {
//   //  --background: rgb(29,253,220);
//   //  --background: linear-gradient(to top, rgba(29,253,220,1) 28%, rgba(69,116,252,1) 100%);
//   --background: rgb(40, 47, 57);
//   //--background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,168,252,1) 100%);
// }

// ion-back-button {
//   color: white;
// }

// #nav {
//   position: relative;
//   bottom: 100px;
//   display: inline-flex;
//   text-align: center;
// }
// #navslide {
//   text-align: center;
//   width: 100%;
// }

.navigation {
  // margin-bottom: 10%;
  // margin-top: 10%;
  background-color: #008b8b;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
}

#nav-back {
  padding-top: 3px;
  margin-right: 3px;
}
.slide {
  text-align: center;
}

#nav-next {
  padding-top: 3px;
  padding-left: 5px;
  margin-left: 3px;
}
.navigation > .nav-icon {
  font-size: 44px;
  color: white;
}

ion-footer {
  text-align: -webkit-center;
  ion-buttons {
    justify-content: center;
  }
  padding-bottom: 16px;
}

// @media screen and (min-width: 600px) {
//   .title {
//     font-size: 50px;
//   }

//   .description {
//     font-size: 28px;
//     margin-bottom: 5%;
//   }
//   swiper-slide {
//     padding-top: 5%;
//   }

//   #nav {
//     bottom: 150px;
//   }
// }

// @media screen and (min-width: 800px) {
//   #nav {
//     bottom: 200px;
//   }
// }

#spinner {
  //width: 400px;
  color: #008086;
  transform: scale(2);
}
.spinnerdiv {
  width: 100%;
  text-align: -webkit-center;
  position: relative;
  left: 0px;
  top: 200px;
  z-index: 2;
}

// .back {
//   position: absolute;
//   left: 10px;
//   top: 42px;
//   z-index: 5;
//   width: 37px;
//   height: 37px;
//   background-color: #ffffff;
//   border-radius: 10000px;
//   box-shadow: 0px 2px 10px rgba(3, 3, 3, 0.1);
//   text-align: center;
//   padding-top: 5px;
// }

// #icon_navback {
//   color: #008b8b;
//   font-size: 22px;
//   vertical-align: -webkit-baseline-middle;
// }

.premium_err {
  position: absolute;
  top: 40%;
  left: 10%;
  font-weight: 400;
  color: black;
}
