<ion-header>
  <ion-toolbar color="white">
    <div
      style="
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: end;
      "
    >
      <div id="home" style="margin-right: 5px" routerLink="/mycourses">
        <ion-icon id="home-icon" name="home"></ion-icon>
      </div>

      <div id="account" style="margin-right: 36px" routerLink="/account">
        <ion-icon id="account-icon" name="person"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinnerdiv">
    <ion-spinner
      id="spinner"
      *ngIf="!ready && available"
      name="bubbles"
    ></ion-spinner>
  </div>

  <swiper-container
    #swiperRef
    [slidesPerView]="1"
    [autoHeight]="true"
    style="height: 100%"
  >
    <swiper-slide *ngFor="let item of sectiondetails">
      <div
        class="slide"
        id="htmlslide"
        *ngIf="item.type === 'text'"
        [innerHTML]="item.content | safe: 'html'"
      ></div>
      <div class="slide" *ngIf="item.type === 'image'">
        <img [src]="'https://www.e-fluent.com'+item.path" />
      </div>
      <div class="slide" *ngIf="item.type === 'audio'">
        <audio
          controls
          [src]="'https://www.e-fluent.com'+item.path"
          type="audio/mp3"
        ></audio>
      </div>
      <div class="slide" *ngIf="item.type === 'video'">
        <h2 class="title">{{item.title}}</h2>
        <div class="description">{{item.description}}</div>
        <video
          controls
          [src]="'https://www.e-fluent.com'+item.path"
          type="video/mp4"
        ></video>
      </div>
    </swiper-slide>
  </swiper-container>

  <div class="premium_err" *ngIf="!available">
    This Section of the lesson is premium content. Please go to your account and
    upgrade to premium
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div
      style="
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
      "
      *ngIf="sectiondetails?.length"
    >
      <ion-buttons>
        <ion-button
          *ngIf="swiperRef.swiper.activeIndex != 0"
          (click)="swiperRef.swiper.slidePrev()"
          class="navigation"
          id="nav-prev"
          ><ion-icon name="chevron-back-outline"></ion-icon
        ></ion-button>
      </ion-buttons>

      <ion-buttons>
        <ion-button
          *ngIf="!swiperRef.swiper.isEnd"
          (click)="swiperRef.swiper.slideNext()"
          class="navigation"
          id="nav-next"
          ><ion-icon name="chevron-forward-outline"></ion-icon
        ></ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>
