<ion-content>
  <div id="home" routerLink="/mycourses">
    <ion-icon id="home-icon" name="home"></ion-icon>
  </div>

  <div class="title">Account</div>
  <div class="accountwrapper" *ngIf="!waiting">
    <div id="account">
      <ion-icon id="account-icon" name="person"></ion-icon
      ><span class="user">{{username}}</span>
    </div>

    <div class="date">
      <span class="join"
        >member since {{creation_date | date:'dd-MM-YYYY'}}</span
      >
    </div>
    <div class="basicmembership" *ngIf="subscription_model === 0">
      <span class="description_free">Free membership</span>
    </div>
    <div class="premiummembership" *ngIf="subscription_model === 1">
      <span class="description_prem">Premium membership</span>
    </div>

    <div *ngIf="subscription_model === 1 && status === 2">
      <span class="idd">Premium membership cancelled</span>
    </div>

    <div class="buttonfields">
      <ion-button
        id="up"
        *ngIf="subscription_model === 0"
        [routerLink]="['../payment']"
        >Upgrade to premium</ion-button
      >
      <ion-button
        id="down"
        *ngIf="subscription_model === 1 && status === 1"
        [routerLink]="['../cancelsubscription']"
        >Downgrade</ion-button
      >
    </div>
  </div>
  <div class="spinnerdiv" *ngIf="waiting">
    <ion-spinner
      class="spinner"
      id="#quiz_spinner"
      name="bubbles"
    ></ion-spinner>
  </div>

  <ion-list class="linklist">
    <ion-item routerLink="/delete-account">
      <ion-icon class="circleicon" name="trash"> </ion-icon
      ><ion-label>Delete Profile</ion-label
      ><ion-icon class="icon-arrow" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/privacy">
      <ion-icon class="circleicon" name="shield-checkmark"></ion-icon
      ><ion-label>Privacy/Datenschutz</ion-label
      ><ion-icon class="icon-arrow" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/contact">
      <ion-icon class="circleicon" name="headset"></ion-icon
      ><ion-label>Impressum</ion-label
      ><ion-icon class="icon-arrow" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="/logout">
      <ion-icon class="circleicon" name="log-out"></ion-icon
      ><ion-label>Logout</ion-label
      ><ion-icon class="icon-arrow" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
